
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
                                     rgba($color-primary-light, 0.8),
                                     rgba($color-primary-dark, 0.8)),
                                     url(../images/hero-small.jpg);
    background-size: cover;
    background-position: top;
    -webki-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    // 600/16 = 37.5em
    // 2000/16 = 125em
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5), 
           only screen and (-weblit-min-device-pixel-ratio: 2) and (min-width: 37.5),
           only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)),
         url(../images/hero.jpg);
    }

    @include respond(tab-port) { // width < 900
        height: 70vh;
        -webki-clip-path: polygon(0 0, 100% 0, 100% 63vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 58vh, 0 100%);
    }

    @include respond(phone) { // width < 600
        height: 50vh;
        -webki-clip-path: polygon(0 0, 100% 0, 100% 43vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 43vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 6rem;
        background-color: white;
        border-radius: 50%;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


